.App {
  text-align: center;
}
body{
  
  background-image: linear-gradient(to right top, #085013, #1eb427, #085013, #1eb427,#085013);
  backdrop-filter: blur(5px);
}

.carousel{
  border-radius: 25px;
  border:white solid 10px;
}
.carousel-caption > h3 {
  font-size:3.5vw;
  color:white;
  font-size:2vw;
  font-weight: bolder;
  text-shadow: -2px 2px black;

}
.carousel-caption > p{
  color:black;
  font-size:2vw;
  font-weight: bolder;
  text-shadow: 1px -1px white;
}
span.navbar-brand{
  font-weight: bolder;
  font-size: 18px;
}
a.nav-link{
  font-weight: bolder;
  font-size: 22px;
  background: -webkit-linear-gradient(#085013,#085013,#1eb427,#085013);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px -2px white;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
